spring:
  application:
    name: mentoring-project

  datasource:
    url: jdbc:mysql://localhost:3306/mentoring_db?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: root_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379

  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Seoul

jwt:
  secret: ZGF5b25lLXNwcmluZy1ib290LWRpdmlkZW5kLXByb2plY3QtdHV0b3JpYWwtand0LXNlY3JldC1rZXkK
  access-token-validity: 1800000
  refresh-token-validity: 1209600000

server:
  port: 8080